<h2>Reactivos: <small> Dinámicos </small></h2>
<hr />

<form
  [formGroup]="miFormulario"
  (ngSubmit)="guardar()"
  autocomplete="off">
  <!-- nombre -->
  <div class="row mb-3">
    <label class="col-sm-3 col-form-label" for=""> Nombre </label>
    <div class="col-sm-9">
      <input
        type="text"
        placeholder="Nombre de la persona"
        formControlName="nombre"
        class="form-control"
      />
      <span
        *ngIf="validarCampo('nombre')"
        class="text-danger form-text"> Debe contener al menos tres caracteres </span>
    </div>
  </div>

  <!-- agregar favorito -->
  <div class="row mb-3">
    <label class="col-sm-3 col-form-label" for=""> Agregar </label>
    <div class="col-sm-9">
      <div class="input-group">
        <input
          [formControl]="nuevoFavorito"
          type="text"
          class="form-control"
          placeholder="Agregar favorito"
          (keyup.enter)="agregarFavorito()"
        />

        <button
          type="button"
          (click)="agregarFavorito()"
          class="btn btn-outline-primary">
          Agregar
        </button>
      </div>
    </div>
  </div>

  <!-- *lista juegos favoritos -->
  <div class="row mb-3">
    <label for="" class="col-sm-3 col-form-label"> Favoritos </label>

    <div formArrayName="favoritos" class="col-sm-9">
      <!-- * item favorito -->
      <div
        *ngFor="let favorito of favoritosArr.controls; let i = index "
        class="input-group mb-1">
        <input
          type="text"
          [formControlName]="i"
          class="form-control" />

        <button
          type="button"
          (click)="borrar( i )"
          class="btn btn-outline-danger">Eliminar</button>
      </div>
    </div>

  </div>

  <!-- *Guardar -->
  <div class="row">
    <div class="col-sm-12">
      <button
        class="btn btn-primary float-end"
        type="submit">Guardar</button>
    </div>
  </div>
</form>

<span> Valid </span>
<pre>{{ miFormulario.valid }} </pre>
<br>

<span> Value </span>
<pre>{{ miFormulario.value | json }} </pre>
<br>

<span> Agregar Juego </span>
<pre>{{ nuevoFavorito.valid }} </pre>
<br>
<pre>{{ nuevoFavorito.value }} </pre>
